---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Variables
$base-font-family: DINRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-color:  #988F8F;
$base-font-size:   42px;
$base-font-weight: 700;

$small-font-size:  25px;

$gray-bg-color:    #292929;
$gray-font-color:  #FFFFFF;

$link-color:       #B93838;

// Imports
@import "styles";
