---
layout: default
---

<section id="header" class="header">
    <hgroup class="vertical-align">
        <h1 id="main-header">Hi there! I'm <img src="images/logo.svg">.</h1>
        <div class="spacer"></div>
        <h2 id="sub-header">This is my website.</h2>
    </hgroup>
   <!--  <div class="initial-curve">
        <svg viewBox="0 0 2269 260" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs></defs>
            <path d="M0,258.999995 L0,69.3698466 C0,69.3698466 241.889453,-22.1258979 572.5,5.45274695 C810.037321,25.267473 1299.82718,146.798228 1696,210.582038 C2009.86212,261.113828 2269,258.999995 2269,258.999995 L0,258.999995 Z" id="Rectangle-6" stroke="none" fill="#292929" fill-rule="evenodd"></path>
        </svg>
    </div> -->
</section>
<section id="intro">
    <div class="gray content" style="margin-top: -1px;">
        <div class="initial-curve-text wrapper">
            I develop a lot of things.<br>
            And design.<br>
            And blog.<br>
            And a bunch of extracurriculars.<br>
            (That's all people really care about at that point.)
        </div>
    </div>
</section>
<section id="projects" class="content" style="box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);">
    <header class="right-align section-header wrapper">
        I've worked on the following <a class="section-link" href="#projects">projects</a>:
    </header>
    <div class="projects">
        {% assign sorted_projects = (site.projects | sort: 'date') | reverse %}
        {% for project in sorted_projects %}
            {% include project_card.html project=project %}
        {% endfor %}
    </div>
</section>
<section id="designs" class="gray content" style="box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);">
    <header class="section-header wrapper">
        And I've worked on these <a class="section-link" href="#designs">designs</a>:
    </header>
    <div class="projects">
        {% for design in site.designs %}
            {% include design_card.html design=design %}
        {% endfor %}
    </div>
</section>
<section id="blog" class="content">
    <header class="section-header center-align" style="color: black;">
        Recently, I've published these posts on my <a class="section-link" href="#blog">blog</a>:
    </header>
    <div class="articles">
        {% for post in site.posts %}
            {% include post_card.html post=post %}
        {% endfor %}
    </div>
    <div class="spacer__double"></div>
    <div class="center-align small" style="color: black;">(I don't blog often, but when I do, you'll probably find it here.)</div>
</section>
<section id="skills" class="gray content">
    <!-- <header class="center-align">
        <div class="section-tab section-tab__gray">
            <div class="tab-triangle__left"></div>
            These are some of the <a class="section-link" href="#skills">skills</a> I know:
            <div class="tab-triangle__right"></div>
        </div>
    </header> -->
    <header class="section-header center-align">
        These are some of the <a class="section-link" href="#skills">skills</a> I know:
    </header>
    <div>
        {% include skills.html %}
    </div>
    <div class="spacer"></div>
    <div class="center-align small">(Click a skill to see some of the projects I've made with it!)</div>
</section>

<script>
    $("#main-header").fitText(1, { maxFontSize: '90px' });
    $("#sub-header").fitText(1, { maxFontSize: '52px' });

    $('.projects').isotope({
        // options
        itemSelector: '.project-card',
        layoutMode: 'packery',
        packery: {
            columnWidth: '.project-card',
            gutter: 30
        }
    });

    $('.articles').isotope({
        // options
        itemSelector: '.article-card__first',
        layoutMode: 'packery',
        packery: {
            gutter: 50
        }
    });
</script>
