---
title: "Home"
layout: default
---

<header id="header" class="landing-header">
    <div class="wrapper">
        <div class="left">
            <a href="/" class="logo-container">
                <img src="/images/logo.svg" class="logo" alt="The logo of the site.">
            </a>
            <div class="intro">
                {% include landing_intro.html %}
            </div>
        </div>
        <div class="right">
            {% include navigation_links.html %}
            <div class="commit-history">
                {% assign site_repository = site.github["public_repositories"] | last %}
                Last updated with commit
                <span class="commit-sha">
                    <a href="https://github.com/ZacharyEspiritu/zacharyespiritu.github.io/commits/master">
                        @{{ site.github["build_revision"] | truncate: 8, "" }}
                    </a>
                </span>
                <br>
                on {{ site_repository["pushed_at"] }}
            </div>
        </div>
    </div>
</header>
<section class="content">
    <div class="wrapper">
        <div class="project-filters">
            > Zachary.projects.filter({(p): p.type ==
            <span data-filter="*" class="filter-option selected">all</span>
            <span data-filter=".software" class="filter-option">software</span>
            <span data-filter=".research" class="filter-option">research</span>
            <span data-filter=".design" class="filter-option">design</span>
            <span data-filter=".games" class="filter-option">games</span>
            <span data-filter=".case_studies" class="filter-option">case_studies</span>
            <span data-filter=".fun_things" class="filter-option">fun_things</span>
            })
        </div>
        <div class="projects">
            {% assign combined_collections = site.projects | concat: site.designs %}
            {% assign sorted_projects = combined_collections | sort: 'date' | reverse %}
            {% for project in sorted_projects %}
                {% include project_card.html project=project %}
                {% if forloop.last == false %}
                  <div class="project-gutter-sizer"></div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="no-projects-message">
            <div class="big-message">Sorry, there's nothing here yet.</div>
            <div class="small-message">(Try a different filter!)</div>
        </div>
    </div>
</section>
<section class="experience teaching cv-section" style="background: #18212D; padding-bottom: 30px;">
    <div class="wrapper">
        <div class="small-wrapper">
            <div class="section-box">
                <div class="section-title white-text">More About Me</div>
            </div>
            <div class="teaching-intro" style="color: white;">
                <p>I'm Zachary! I'm currently a second-year undergraduate in Computer Science at Brown University.</p>

                <p>As a way of blending my interests in education and technology, I've served as a teaching assistant within the Computer Science department at Brown every semester. </p>

                <p>In addition to funding from Brown University, my undergraduate studies have been generously supported by the CIT Group Scholarship. Additionally, my secondary school experience was completely free, having been funded by numerous generations of Regis High School alumni. (Thanks to everyone for helping me get to this point!)</p>

                <p>Recently, I've been interested in musical theater, lighting design, inter-grader consistency on homework assignments, voting security (both in real-life and online), speech and debate, multiplayer game design, and Dance Dance Revolution.</p>
            </div>
        </div>
    </div>
</section>
<section class="teaching cv-section">
    <div class="wrapper">
        <div class="small-wrapper">
            <div class="section-box">
                <div class="section-title black-text">Teaching</div>
            </div>
            <div class="teaching-intro">
                I've been a teaching assistant every semester since my freshman
                year. Courses marked with an asterisk (*) denote a head teaching
                assistant role.
            </div>
            <hr>
            {% assign sorted_teaching = site.teaching | reverse %}
            {% for teaching in sorted_teaching %}
                {% include teaching_item.html teaching=teaching %}
            {% endfor %}
        </div>
    </div>
</section>
<section class="experience">
    <div class="wrapper">
        <div class="terminal">
            <div class="large-buffer">
                > Zachary.college.merge(Zachary.high_school)
            </div>
            <div class="small-buffer">
                Education
            </div>
        </div>
        <div class="experience-item">
            <div class="left">
                <div class="date-range">
                    2017 - 2021
                </div>
            </div>
            <div class="right">
                <div class="item-header">
                    <div class="title">
                        Brown University
                    </div>
                    <div class="location">
                        Providence, RI
                    </div>
                </div>
                <div class="item-info">
                    <div class="tagline">
                        Sc.B. in Computer Science
                    </div>
                    <div class="detail">
                        Relevant Coursework:
                        <ul>
                            <li>Accelerated Intro to Computer Science</li>
                            <li>Computer Systems Security</li>
                            <li>Design and Analysis of Algorithms&hairsp;<sup>*</sup></li>
                            <li>Discrete Structures and Probability</li>
                            <li>Introduction to Computer Systems</li>
                            <li>Introduction to Computer Graphics&hairsp;<sup>*</sup></li>
                            <li>Linear Algebra</li>
                            <li>Logic For Systems (Formal Methods)</li>
                            <li>Statistical Inference I&hairsp;<sup>*</sup></li>
                            <li>User Interfaces and User Experience</li>
                        </ul>
                        <div class="asterisk-description">
                            * in progress
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="experience-item">
            <div class="left">
                <div class="date-range">
                    2013 - 2017
                </div>
            </div>
            <div class="right">
                <div class="item-header">
                    <div class="title">
                        Regis High School
                    </div>
                    <div class="location">
                        New York, NY
                    </div>
                </div>
                <div class="item-info">
                    <div class="tagline">
                    </div>
                    <div class="detail">
                        During February 2017 – May 2017, in lieu of traditional courses, I participated in the "Social Justice Entrepreneurship" program, where I completed three days of service work and two days of senior thesis research every week. The final project, "Connecting for Good: Bridging the Digital Divide Through Effective Integration Policies", focused on disparities on access to technology among different parts of the city and combined empirical research with in-person interviews from volunteer work as a Computer Science assistant in an elementary school in New York City.
                    </div>
                </div>
            </div>
        </div>
        <div class="terminal">
            <div class="large-buffer">
                > Zachary.work_experience.sort_by({(e): e.date }, :asc)
            </div>
            <div class="small-buffer">
                Experience
            </div>
        </div>
        {% assign sorted_experience = site.experience | reverse %}
        {% for experience in sorted_experience %}
            {% include experience_item.html experience=experience %}
            {% if forloop.last == false %}
              <hr>
            {% endif %}
        {% endfor %}
        <div class="terminal">
            <div class="large-buffer">
                > Zachary.presentations.recap()
            </div>
            <div class="small-buffer">
                Presentations
            </div>
        </div>
        {% assign sorted_presentations = site.presentations | reverse %}
        {% for presentation in sorted_presentations %}
            {% include experience_item.html experience=presentation %}
            {% if forloop.last == false %}
              <hr>
            {% endif %}
        {% endfor %}
        <div class="terminal">
            <div class="large-buffer">
                > Zachary.awards.display()
            </div>
            <div class="small-buffer">
                Awards
            </div>
        </div>
        {% assign sorted_awards = site.awards | reverse %}
        {% for award in sorted_awards %}
            {% include experience_item.html experience=award %}
            {% if forloop.last == false %}
              <hr>
            {% endif %}
        {% endfor %}
    </div>
</section>
<script>
    var $projects = $('.projects').isotope({
        itemSelector: '.project-box',
        layoutMode: 'fitRows',
        percentPosition: true,
        fitRows: {
          gutter: '.project-gutter-sizer'
        }
    });

    $('.project-filters').on('click', '.filter-option', function() {
        var $filterButton = $(this);
        var filterValue = $filterButton.attr('data-filter');
        $projects.isotope({ filter: filterValue });

        $('.filter-option.selected').removeClass('selected');
        $filterButton.addClass('selected');

        var $noProjectsMessage = $('.no-projects-message');
        if (!$projects.data('isotope').filteredItems.length) {
            $noProjectsMessage.show();
        } else {
            $noProjectsMessage.hide();
        }
    });
</script>
