---
title: "Home"
layout: default
---

<header id="header" class="landing-header">
    <div class="wrapper">
        <div class="left">
            <a href="/" class="logo-container">
                <img src="/images/logo.svg" class="logo" alt="The logo of the site.">
            </a>
            <div class="intro">
                Hi there!
                <br>
                I’m <span class="intro-emphasis">Zachary Espiritu</span>. I’m 
                currently studying <span class="intro-emphasis">Computer 
                Science</span> at <span class="intro-emphasis">Brown 
                University</span>.
                <br><br>
                Right now, I’m a TA for <span class="intro-emphasis">CSCI0040</span>, 
                a course on scientific computing in Python and Matlab. 
                Previously, I interned at <span class="intro-emphasis">
                Negotiatus</span> where I automated data-intensive processes and
                developed several client-facing interfaces. This summer, I’ll be 
                doing research in Brown’s <span class="intro-emphasis">PLT 
                Group</span>.
            </div>
        </div>
        <div class="right">
            <nav role="navigation">
                <ul class="header-nav-list">
                    <li><a href="mailto:me@zacharyespiritu.com">me@zacharyespiritu.com</a></li>
                    <li><a href="/resume">resume.pdf</a></li>
                    <li><a href="/about">about.html</a></li>
                    <li><a href="https://github.com/ZacharyEspiritu/zacharyespiritu.github.io">source.git</a></li>
                    <li><a href="/friends">friends.yaml</a></li>
                </ul>
            </nav>
            <div class="commit-history">
                Last updated with commit 
                <span class="commit-sha">#{{ site.git["total_commits"] }} ({{ site.git["last_commit"]["short_sha"] }})</span>:<br>
                Author: {{ site.git["last_commit"]["author_name"] }}<br>
                Date: {{ site.git["last_commit"]["commit_date"] }}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{ site.git["last_commit"]["message"] }}
            </div>
        </div>
    </div>
</header>
<section class="content">
    <div class="wrapper">
        <div class="project-filters">
            > Zachary.projects.filter({(p): p.type == 
            <span data-filter="*" class="filter-option selected">all</span>
            <span data-filter=".software" class="filter-option">software</span>
            <span data-filter=".research" class="filter-option">research</span>
            <span data-filter=".design" class="filter-option">design</span>
            <span data-filter=".games" class="filter-option">games</span>
            <span data-filter=".case_studies" class="filter-option">case_studies</span>
            <span data-filter=".fun_things" class="filter-option">fun_things</span> 
            })     
        </div>
        <div class="projects">
            {% assign sorted_projects = site.projects | sort: 'date' | reverse %}
            {% for project in sorted_projects %}
                {% include project_card.html project=project %}
                {% if forloop.last == false %}
                  <div class="project-gutter-sizer"></div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="no-projects-message">
            <div class="big-message">Sorry, there's nothing here yet.</div>
            <div class="small-message">(Try a different filter!)</div>
        </div>
    </div>
</section>
<section class="experience">
    <div class="wrapper">
        <div class="terminal">
            > Zachary.college.merge(Zachary.high_school)
        </div>
        <div class="experience-item">
            <div class="left">
                <div class="date-range">
                    2017 - 2021
                </div>
            </div>
            <div class="right">
                <div class="item-header">
                    <div class="title">
                        Brown University
                    </div>
                    <div class="location">
                        Providence, R.I.
                    </div>
                </div>
                <div class="item-info">
                    <div class="tagline">
                        Sc.B. in Computer Science<br>
                        Pursing Concurrent Sc.B/Sc.M Program
                    </div>
                    <div class="detail">
                        Relevant Coursework:<br>
                        &nbsp;* Accelerated Intro to Computer Science<br>
                        &nbsp;* Computer Systems Security<br>
                        &nbsp;* Discrete Structures and Probability<br>
                        &nbsp;* Introduction to Computer Systems<br>
                        &nbsp;* Linear Algebra<br>
                        &nbsp;* Logic For Systems (Formal Methods and Verification)<br>
                        &nbsp;* User Interfaces and User Experience
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="experience-item">
            <div class="left">
                <div class="date-range">
                    2013 - 2017
                </div>
            </div>
            <div class="right">
                <div class="item-header">
                    <div class="title">
                        Regis High School
                    </div>
                    <div class="location">
                        New York, N.Y.
                    </div>
                </div>
                <div class="item-info">
                    <div class="tagline">
                        Tuition-free education<br>
                        90-minute commute each way
                    </div>
                </div>
            </div>
        </div>
        <div class="terminal">
            > Zachary.work_experience.sort_by({(e): e.date }, :asc)
        </div>
        {% for experience in site.experience %}
            {% include experience_item.html experience=experience %}
            {% if forloop.last == false %}
              <hr>
            {% endif %}
        {% endfor %}
    </div>
</section>
<script>
    var $projects = $('.projects').isotope({
        itemSelector: '.project-box',
        layoutMode: 'fitRows',
        percentPosition: true,
        fitRows: {
          gutter: '.project-gutter-sizer'
        }
    });

    $('.project-filters').on('click', '.filter-option', function() {
        var $filterButton = $(this);
        var filterValue = $filterButton.attr('data-filter');
        $projects.isotope({ filter: filterValue });

        $('.filter-option.selected').removeClass('selected');
        $filterButton.addClass('selected');

        if (!$projects.data('isotope').filteredItems.length) {
            $('.no-projects-message').show();
        } else {
            $('.no-projects-message').hide();
        }
    });
</script>
    <!-- <nav role="navigation" class="header-content">
        <ul>
            <li><a href="/#projects">projects</a></li>
            <li><a href="/#designs">designs</a></li>
            <li><a href="/#writings">writings</a></li>
            <li><a href="/resume">resume</a></li>
        </ul>
    </nav> -->
<!-- <section id="projects" class="content">
    <header class="right-align section-header wrapper">
        I've worked on the following <a class="section-link" href="#projects">projects</a>:
    </header>
    <div class="projects">
        {% assign sorted_projects = site.projects | sort: 'date' | reverse %}
        {% for project in sorted_projects %}
            {% include project_card.html project=project %}
        {% endfor %}
    </div>
</section>
<section id="designs" class="gray content" style="box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);">
    <header class="section-header wrapper">
        And I've worked on these <a class="section-link" href="#designs">designs</a>:
    </header>
    <div class="designs">
        {% assign sorted_designs = site.designs | sort: 'date' | reverse %}
        {% for design in sorted_designs %}
            {% include design_card.html design=design %}
        {% endfor %}
    </div>
</section>
<section id="writings" class="content">
    <header class="section-header center-align">
        And, sometimes, I just <a class="section-link" href="#writings">write</a> about things:
    </header>
    <div class="articles">
        {% for post in site.posts %}
            {% include post_card.html post=post %}
        {% endfor %}
    </div>
    <div class="spacer"></div>
</section>
<header class="section-header section-header-with-tabs center-align">
    <div class="section-tab section-tab__gray">
        <div class="tab-triangle__left"></div>
        These are some of the <a class="section-link" href="#skills">skills</a> I know:
        <div class="tab-triangle__right"></div>
    </div>
</header>
<section id="skills" class="gray content">
    <div>
        {% include skills.html %}
    </div>
    <div class="spacer"></div>
    <div class="center-align small">
        Click a skill to see some of the projects I've made with it!
    </div>
</section>

<script>
    $('.projects').isotope({
        itemSelector: '.project-card',
        layoutMode: 'packery',
        packery: {
            columnWidth: '.project-card',
            gutter: 30
        }
    });

    $('.designs').isotope({
        itemSelector: '.project-card',
        layoutMode: 'packery',
        packery: {
            columnWidth: '.project-card',
            gutter: 30
        }
    });

    $('.articles').isotope({
        itemSelector: '.article-card__first',
        layoutMode: 'packery',
        packery: {
            gutter: 50
        }
    });
</script>
 -->
