<a class="block-link" href="{{ design.url }}">
    <div class="project-card" style="background: {{ design.card_color }};">
        <div class="card-header" style="background-image: url('{{ design.image_path }}');"></div>
        <div class="card-text">
            <div class="card-title">
                {% if design.short_title %}
                    {{ design.short_title }}
                {% else %}
                    {{ design.title }}
                {% endif %}
            </div>
            <div class="card-detail">
                {{ design.tagline }}
            </div>
        </div>
        <img src="images/arrow.svg" class="card-arrow">
    </div>
</a>
