<a class="block-link" href="{{ design.url }}">
    <figure class="project-card" style="background: {{ design.card_color }};">
        <div class="card-header" style="background-image: url('{{ design.image_path }}');"></div>
        <div class="card-text">
            <header class="card-title">
                {% if design.short_title %}
                    {{ design.short_title }}
                {% else %}
                    {{ design.title }}
                {% endif %}
            </header>
            <footer class="card-detail">
                {{ design.tagline }}
            </footer>
        </div>
        <img src="images/arrow.svg" class="card-arrow" role="presentation">
    </figure>
</a>
