<div class="experience-item">
    <div class="left">
        <div class="date-range">
            {{ include.experience.date_string }}
        </div>
    </div>
    <div class="right">
        <div class="item-header">
            <div class="title">
                {{ include.experience.title }}
            </div>
            <div class="location">
                {{ include.experience.location }}
            </div>
        </div>
        <div class="item-info">
            <div class="tagline">
                {{ include.experience.tagline }}
            </div>
            <div class="detail">
                {{ include.experience.content | rstrip }}
            </div>
        </div>
    </div>
</div>
