<footer id="footer" class="content gray" role="group">
    <div class="wrapper">
        <div class="footer-left">
            <div class="footer-social-icons">
                <a href="https://www.facebook.com/zachary.espiritu" aria-label="Facebook">
                    <i class="fa fa-facebook-square" aria-hidden="true" title="Facebook"></i>
                </a>
                <a href="https://github.com/ZacharyEspiritu" aria-label="Github">
                    <i class="fa fa-github-square" aria-hidden="true" title="Github"></i>
                </a>
                <a href="https://twitter.com/ZacharyEspiritu" aria-label="Twitter">
                    <i class="fa fa-twitter-square" aria-hidden="true" title="Twitter"></i>
                </a>
                <a href="https://www.linkedin.com/in/zacharyespiritu" aria-label="LinkedIn">
                    <i class="fa fa-linkedin-square" aria-hidden="true" title="LinkedIn"></i>
                </a>
            </div>
        </div>
        <nav class="footer-right">
            <a href="/about">About</a>
            <a href="/#blog">Blog</a>
            <a href="/resume" target="_blank">Resume</a>
            <a href="https://github.com/ZacharyEspiritu/zacharyespiritu.github.io" target="_blank">Source</a>
        </nav>
        <div class="footer-clear"></div>
    </div>
</footer>
