<footer id="footer" class="content gray" role="group">
    <div class="wrapper center-align">
        <div class="footer-group">
            <a href="https://github.com/ZacharyEspiritu" class="footer-social" aria-label="Github">
                <i class="fa fa-github-square" aria-hidden="true" title="Github"></i>
                ZacharyEspiritu
            </a>
        </div>
        <div class="footer-group">
            <a href="https://www.linkedin.com/in/zacharyespiritu" class="footer-social" aria-label="LinkedIn">
                <i class="fa fa-linkedin-square" aria-hidden="true" title="LinkedIn"></i>
                zachary.espiritu
            </a>
        </div>
        <div class="footer-group">
            <a href="mailto:me@zacharyespiritu.com" class="footer-social" aria-label="Email">
                <i class="fa fa-envelope" aria-hidden="true" title="Email"></i>
                me@zacharyespiritu.com
            </a>
        </div>
    </div>
</footer>
<div class="footer-rainbow">
    <div class="rainbow-stripe"></div>
    <div class="rainbow-stripe"></div>
    <div class="rainbow-stripe"></div>
    <div class="rainbow-stripe"></div>
    <div class="rainbow-stripe"></div>
    <div class="rainbow-stripe"></div>
    <div class="rainbow-stripe"></div>
</div>
