<footer id="footer" class="content gray">
    <div class="wrapper">
        <div class="footer-left">
            <div class="footer-name">
                <a href="/">Zachary Espiritu</a>
            </div>
            <div class="footer-social-icons">
                <a href=""><i class="fa fa-facebook-official"></i></a>
                <a href=""><i class="fa fa-github-alt"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
            </div>
        </div>
        <div class="footer-right">
            <a href="/about">About</a>
            <a href="/#blog">Blog</a>
            <a href="/resume" target="_blank">Resume</a>
            <a href="https://github.com/ZacharyEspiritu/zacharyespiritu.github.io" target="_blank">Source</a>
        </div>
        <div class="footer-clear">
    </div>
</footer>
