<meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- <meta http-equiv="Cache-Control" content="no-cache"> -->

<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<meta name="keywords" content="zachary,espiritu">
<meta name="author" content="Zachary Espiritu">

{% include favicon.html %}

<title>{{ page.title }} | Zachary Espiritu</title>

<!-- Custom CSS -->
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<script src="https://use.fontawesome.com/75857e1dd3.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
<link type="text/css" href="/css/main.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
