<header id="header" class="header">
    <div class="wrapper">
        <div class="left">
            <a href="/" class="logo-container">
                <img src="/images/logo.svg" class="logo" alt="The logo of the site.">
            </a>
            <div class="intro">
                Hi there!
                <br>
                I’m <span class="intro-emphasis">Zachary Espiritu</span>. I’m 
                currently studying <span class="intro-emphasis">Computer 
                Science</span> at <span class="intro-emphasis">Brown 
                University</span>.
                <br><br>
                Right now, I’m a TA for <span class="intro-emphasis">CSCI0040</span>, 
                a course on scientific computing in Python and Matlab. 
                Previously, I interned at <span class="intro-emphasis">
                Negotiatus</span> where I automated data-intensive processes and
                developed several client-facing interfaces. This summer, I’ll be 
                doing research in Brown’s <span class="intro-emphasis">PLT 
                Group</span>.
            </div>
        </div>
        <div class="right">
            {% include navigation_links.html %}
            <div class="commit-history">
                Last updated with commit 
                <span class="commit-sha">#{{ site.git["total_commits"] }} ({{ site.git["last_commit"]["short_sha"] }})</span>:<br>
                Author: {{ site.git["last_commit"]["author_name"] }}<br>
                Date: {{ site.git["last_commit"]["commit_date"] }}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{ site.git["last_commit"]["message"] }}
            </div>
        </div>
    </div>
</header>
