<section id="header" class="header">
    <div class="header-content">
        <a href="/" class="logo-container">
            <img src="/images/logo.svg" class="logo">
        </a>
    </div>
    <nav role="navigation" class="header-content">
        <ul>
            <li><a href="/#projects">projects</a></li>
            <li><a href="/#designs">designs</a></li>
            <li><a href="/#blog">blog</a></li>
            <li><a href="/resume">resume</a></li>
        </ul>
    </nav>
    <img src="/images/header-curve.svg" class="curve">
</section>
