Hi there! <span style="font-size: 90%;">👋</span>
<br>
I’m <span class="intro-emphasis"><a class="intro-link" href="/about">Zachary Espiritu</a></span>. I’m a Senior Research Engineer in the Cryptography Research Group at <span class="intro-emphasis"><a class="intro-link" href="https://mongodb.com/">MongoDB</a></span>. 
<br><br>
My <span class="intro-emphasis"><a class="intro-link" href="#publications">research</a></span> broadly combines cryptography, data structures, formal methods, and algorithms to produce privacy-preserving, efficient systems for end-to-end encrypted data processing and retrieval.
<br><br>
Previously, I was a researcher with the <span class="intro-emphasis"><a class="intro-link" href="http://esl.cs.brown.edu/">Encrypted Systems Lab</a></span> and <span class="intro-emphasis"><a class="intro-link" href="http://caps.cs.brown.edu/">Cloud Security Group</a></span> at Brown University.
