Hi there! <span style="font-size: 90%;">👋</span>
<br>
<br>
I’m <span class="intro-emphasis"><a class="intro-link" href="/about">Zachary Espiritu</a></span>. I’m a researcher at <span class="intro-emphasis"><a class="intro-link" href="https://mongodb.com/">MongoDB</a></span>. My <span class="intro-emphasis"><a class="intro-link" href="#publications">research</a></span> broadly combines <span class="intro-emphasis">cryptography</span>, <span class="intro-emphasis">data structures</span>, <span class="intro-emphasis">formal methods</span>, <span class="intro-emphasis">programming languages</span>, and <span class="intro-emphasis">algorithms</span> to produce, build, and analyze privacy-preserving, efficient systems for data processing and retrieval.
