Hi there!
<br>
I’m <span class="intro-emphasis"><a href="https://github.com/ZacharyEspiritu/">Zachary Espiritu</a></span>. I’m currently studying <span class="intro-emphasis"><a href="http://cs.brown.edu/">Computer Science</a></span> at <span class="intro-emphasis"><a href="http://brown.edu/">Brown University</a></span>.
<br><br>
Right now, I’m a TA for <span class="intro-emphasis"><a href="http://cs.brown.edu/courses/csci0040/">CSCI0040</a></span>, a course on scientific computing in Python and Matlab. Previously, I interned at <span class="intro-emphasis"><a href="https://www.negotiatus.com/">Negotiatus</a></span> where I automated data-intensive processes and developed several client-facing interfaces. This summer, I’ll be doing research in Brown’s <span class="intro-emphasis"><a href="http://cs.brown.edu/research/plt/">PLT Group</a></span>.
