<nav role="navigation">
    <ul class="header-nav-list header-social-nav">
        <li>
            <i class="fa fa-envelope" aria-hidden="true" title="Email" style="font-size: 21px;"></i>
            <a href="mailto:me@zacharyespiritu.com">me@zacharyespiritu.com</a></li>
        </li>
        <li>
            <i class="fa fa-github-square" aria-hidden="true" title="Github" style="font-size: 24px;"></i>
            <a href="https://github.com/ZacharyEspiritu/">ZacharyEspiritu</a></li>
        </li>
        <li>
            <i class="fa fa-linkedin-square" aria-hidden="true" title="LinkedIn" style="font-size: 24px;"></i>
            <a href="https://www.linkedin.com/in/zacharyespiritu/">zachary.espiritu</a>
        </li>
    </ul>
    <div class="header-nav-divider"></div>
    <ul class="header-nav-list header-social-nav">
        <li>
            <i class="ai ai-google-scholar-square ai-3x" aria-hidden="true" title="Google Scholar" style="font-size: 23px;"></i>
            <a href="https://scholar.google.com/citations?hl=en&view_op=list_works&gmla=AJsN-F5nHwLjVetZAiodYoyICfplXNJSMHbgd79wHDnnKhDFL1P17FpYGZRwXL9JuduW8uIM2Cxs71lZ2dXMCCGaJG2_eANDcw&user=wj71EyQAAAAJ">Scholar</a>
        </li>
        <li>
            <i class="ai ai-dblp-square ai-3x" aria-hidden="true" title="DBLP" style="font-size: 23px;"></i>
            <a href="https://dblp.org/pid/313/8072.html">DBLP</a>
        </li>
    </ul>
</nav>
