<nav role="navigation">
    <ul class="header-nav-list header-social-nav">
        <li>
            <span style="font-size: 85%;"><i class="fa fa-envelope" aria-hidden="true" title="Email"></i></span>
            <a href="mailto:me@zacharyespiritu.com">me@zacharyespiritu.com</a></li>
        </li>
        <li>
            <i class="fa fa-github-square" aria-hidden="true" title="Github"></i>
            <a href="https://github.com/ZacharyEspiritu/">ZacharyEspiritu</a></li>
        </li>
        <li>
            <i class="fa fa-linkedin-square" aria-hidden="true" title="LinkedIn"></i>
            <a href="https://www.linkedin.com/in/zacharyespiritu/">zachary.espiritu</a>
        </li>
    </ul>
    <div class="header-nav-divider"></div>
    <ul class="header-nav-list">
        <li><a href="/resume">resume.pdf</a></li>
        <li><a href="https://github.com/ZacharyEspiritu/zacharyespiritu.github.io">source.git</a></li>
    </ul>
</nav>
