<a class="block-link" href="{{ post.url }}">
    <div class="article-card__first">
        <div class="article-card__second">
            <div class="article-card__third">
                <div class="card-title">
                    {{ post.title }}
                </div>
                <div class="card-content">
                    <div class="card-image"  style="background-image: url('{{ post.preview_image_path }}');"></div>
                    {{ post.tagline }}
                </div>
            </div>
        </div>
    </div>
</a>
