<a class="block-link" href="{{ post.url }}">
    <figure class="article-card__first">
        <div class="article-card__second">
            <div class="article-card__third">
                <header class="card-title">
                    {% if post.short_title %}
                        {{ post.short_title }}
                    {% else %}
                        {{ post.title }}
                    {% endif %}
                </header>
                <figcaption class="card-content">
                    <div class="card-image" style="background-image: url('{{ post.preview_image_path }}');"></div>
                    {{ post.tagline }}
                </figcaption>
            </div>
        </div>
    </figure>
</a>
