{% if page.is_post %}
    {% assign post_type = "Post" %}
{% elsif page.is_project %}
    {% assign post_type = "Project" %}
{% else %}
    {% assign post_type = "Design" %}
{% endif %}

{% assign next_post = page.next %}
{% assign previous_post = page.previous %}

<nav role="navigation">
    {% if previous_post %}
        <a href="{{ previous_post.url }}" class="post-block" style="background-image: url('{{ previous_post.image_path }}');">
            <div class="overlay" style="background: {{ previous_post.card_color }};"></div>
            <div class="overlay-text">
                <div class="overlay-text-table">
                    <div class="overlay-text-content">
                        <div class="preview-direction">
                            <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Previous {{ post_type }}
                        </div>
                        <div class="preview-title">
                            {% if previous_post.short_title %}
                                {{ previous_post.short_title }}
                            {% else %}
                                {{ previous_post.title }}
                            {% endif %}
                        </div>
                        {% unless page.is_post %}
                            <div class="preview-tagline">
                                {{ previous_post.tagline }}
                            </div>
                        {% endunless %}
                    </div>
                </div>
            </div>
        </a>
    {% endif %}
    {% if next_post %}
        <a href="{{ next_post.url }}" class="post-block" style="background-image: url('{{ next_post.image_path }}');">
            <div class="overlay" style="background: {{ next_post.card_color }};"></div>
            <div class="overlay-text">
                <div class="overlay-text-table">
                    <div class="overlay-text-content">
                        <div class="preview-direction">
                            Next {{ post_type }} <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </div>
                        <div class="preview-title">
                            {% if next_post.short_title %}
                                {{ next_post.short_title }}
                            {% else %}
                                {{ next_post.title }}
                            {% endif %}
                        </div>
                        {% unless page.is_post %}
                            <div class="preview-tagline">
                                {{ next_post.tagline }}
                            </div>
                        {% endunless %}
                    </div>
                </div>
            </div>
        </a>
    {% endif %}
</nav>

<script>
    $(document).ready(function(){
        if ($(window).width() > 700) {
            $(".preview-tagline").slideUp();
        }

        {% unless page.is_post %}
            $(".post-block").hover(function() {
                $(this).find(".preview-tagline").stop();
                $(this).find(".preview-tagline").slideDown("fast");
            }, function() {
                if ($(window).width() > 700) {
                    $(this).find(".preview-tagline").stop();
                    $(this).find(".preview-tagline").slideUp("fast");
                }
            });

            $(window).resize(function() {
                if ($(window).width() <= 700) {
                    $(".preview-tagline").slideDown();
                }
                else {
                    $(".preview-tagline").slideUp();
                }
            });
        {% endunless %}
    });
</script>
