<link href="/css/please-wait.css" rel="stylesheet">
<script type="text/javascript" src="/javascripts/please-wait.min.js"></script>
<script type="text/javascript">
    const loadingMessages = ["Buying more watermelons...",
                             "Dancing to Stepmania...",
                             "Digging for treasure...",
                             "Downloading extra RAM...",
                             "Drinking more lychee bubble tea...",
                             "Eating more seaweed...",
                             "Escaping the loading page...",
                             "Figuring out how to close vim...",
                             "Finding more friends...",
                             "Finding the stash of loading messages...",
                             "Getting the actors ready...",
                             "Grading student assignments...",
                             "Holding TA hours...",
                             "Illuminating the stories of the people in the street...",
                             "Keeping the coffee sweet...",
                             "Loading humorous message...",
                             "Looking around at how lucky we are to be alive right now...",
                             "Mixing drinks and changing lives...",
                             "Negotiating for net neutrality...",
                             "Not throwing away his shot...",
                             "Patching a security vulnerability...",
                             "Playing Kirby by spamming Down-B...",
                             "Printing more trading cards...",
                             "Programming the flux capacitor...",
                             "Publishing the next edition of the newspaper...",
                             "Putting bubbles in the seltzer...",
                             "Reassembling the string cheese...",
                             "Setting up the lights...",
                             "Sending a Slack message...",
                             "Shipping quickly and often...",
                             "Solving more physics problems...",
                             "Sorting the lines...",
                             "Spinning up the hamster...",
                             "Swapping time and space...",
                             "Tapping the white tiles...",
                             "Taking some photos...",
                             "Thinking past tomorrow...",
                             "Tightening loose screws...",
                             "Trying to catch them all...",
                             "Trying to go faster...",
                             "Turning on the lights...",
                             "Warming up the particle accelerator...",
                             "Writing every night like he's running out of time..."]
    const loadingMessage = loadingMessages[Math.floor(Math.random() * loadingMessages.length)];
    window.loading_screen = window.pleaseWait({
        logo: "/images/logo.svg",
        backgroundColor: '#18212D',
        loadingHtml: loadingMessage + "<div class='spinner'><div class='double-bounce1'></div><div class='double-bounce2'></div></div>"
    });
</script>
