<link href="/css/please-wait.css" rel="stylesheet">
<script type="text/javascript" src="/javascripts/please-wait.min.js"></script>
<script type="text/javascript">
    const loadingMessages = ["Gathering necessary pylons...",
                             "Spinning up the hamster...",
                             "Shovelling coal into the server...",
                             "Programming the flux capacitor...",
                             "Digging for treasure...",
                             "Testing your patience...",
                             "Looking for friends...",
                             "Loading humorous message...",
                             "Trying to go faster...",
                             "Downloading extra RAM...",
                             "Warming up the particle accelerator...",
                             "Hoping this works...",
                             "Tapping the white tiles...",
                             "Sorting the lines...",
                             "Solving math problems...",
                             "Negotiating for net neutrality...",
                             "Shipping quickly and often...",
                             "Playing Kirby by spamming Down-B...",
                             "Speeching and debating...",
                             "Writing every night like he's running out of time...",
                             "Illuminating the stories of the people in the street...",
                             "Keeping the coffee sweet...",
                             "Dancing to Stepmania...",
                             "Slacking the other team members...",
                             "Not throwing away our shot...",
                             "Thinking past tomorrow...",
                             "Looking around at how lucky we are to be alive right now...",
                             "Solving more physics problems...",
                             "Designing more app icons...",
                             "Mixing drinks and changing lives..."]
    const loadingMessage = loadingMessages[Math.floor(Math.random()*loadingMessages.length)];
    window.loading_screen = window.pleaseWait({
        logo: "/images/logo.svg",
        backgroundColor: '#18212D',
        loadingHtml: loadingMessage + "<div class='spinner'><div class='double-bounce1'></div><div class='double-bounce2'></div></div>"
    });
</script>

