<a class="block-link" href="{{ project.url }}">
    <div class="project-card" style="background: {{ project.card_color }};">
        <div class="card-header" style="background-image: url('{{ project.image_path }}');">
            {% if project.awards %}
                <div class="card-overlay">
                    {% for award in project.awards %}
                        {% if forloop.first %}
                            {{ award }}
                        {% elsif forloop.last %}
                            {% if forloop.index0 > 0 %}
                                <div class="card-overlay-extension">
                                    <div class="card-overlay-triangle"></div>
                                    + {{ forloop.index0 }} more
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="card-text">
            <div class="card-title">
                {% if project.short_title %}
                    {{ project.short_title }}
                {% else %}
                    {{ project.title }}
                {% endif %}
            </div>
            <div class="card-detail">
                {{ project.tagline }}
            </div>
        </div>
        <img src="images/arrow.svg" class="card-arrow">
    </div>
</a>
