<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<script type="text/javascript" src="/javascripts/isotope.pkgd.min.js"></script>

<script type="text/javascript" src="/javascripts/jquery.scrollme.min.js"></script>
<script type="text/javascript" src="/javascripts/lazysizes.min.js"></script>

<script type="text/javascript" src="/javascripts/scripts.min.js"></script>

<script>
    window.onblur = function() {
        document.title = "Where'd you go? ツ";
    };
    window.onfocus = function() {
        document.title = "{{ page.title }} | Zachary Espiritu";
    };
</script>
