<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [['$','$'], ['\\(','\\)']],
            displayMath: [['$$','$$'], ['\[','\]']],
            processEscapes: true,
            processEnvironments: true,
        }
    });
</script>

<script type="text/javascript" src="/javascripts/isotope.pkgd.min.js"></script>

<script type="text/javascript" src="/javascripts/jquery.scrollme.min.js"></script>
<script type="text/javascript" src="/javascripts/lazysizes.min.js"></script>

<!-- https://saswatpadhi.github.io/pseudocode.js/ -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pseudocode@latest/build/pseudocode.min.css">
<script src="https://cdn.jsdelivr.net/npm/pseudocode@latest/build/pseudocode.min.js"></script>

<script type="text/javascript" src="/javascripts/scripts.min.js"></script>

<script>
    window.onblur = function() {
        document.title = "Where'd you go? ツ";
    };
    window.onfocus = function() {
        document.title = "{{ page.title }} | Zachary Espiritu";
    };
</script>
