<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<!-- Isotope + Packery Mode -->
<script src="/javascripts/isotope.pkgd.min.js"></script>
<script src="/javascripts/packery-mode.pkgd.js"></script>

<!-- ScrollMe Javascript -->
<script src="/javascripts/jquery.scrollme.min.js"></script>

<!-- anime.js -->
<script src="/javascripts/anime.min.js"></script>

<!-- Lazyloading Images -->
<script src="/javascripts/lazysizes.min.js"></script>

<!-- MathJax -->
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<script>
    window.onblur = function() {
        document.title = "Where'd you go? ツ";
    };
    window.onfocus = function() {
        document.title = "{{ page.title }} | Zachary Espiritu";
    };
</script>

<script>
    window.lazySizesConfig = {
        addClasses: true
    };
</script>
