<figure class="skills-panel skill-{{ include.name | downcase }}">
    <div class="spacer"></div>
    <figure class="skills-icon">
        <img src="{{ include.icon_path }}">
    </figure>
    <footer class="skills-caption">{{ include.name }}</footer>
</figure>

<script>
    $(".skill-{{ include.name | downcase }}").click(function() {
        $('.projects').isotope({ filter: ".{{ include.name | downcase }}" })

        var $target = $("#projects");
        $target = $target.length && $target || $('[name=' + this.hash.slice(1) +']');
        if ($target.length) {
            var targetOffset = $target.offset().top;
            $('html,body').animate({scrollTop: targetOffset}, 1000);
            return false;
        }
    });
</script>

