<div class="skills">
    <div class="skills-row__left">
        <div class="skills-panel">
            <div class="spacer"></div>
            <div class="skills-icon">
                <img src="images/skills-swift.svg">
            </div>
            <div class="skills-caption">Swift</div>
        </div>
        <div class="skills-panel">
            <div class="spacer"></div>
            <div class="skills-icon">
                <img src="images/skills-objc.svg">
            </div>
            <div class="skills-caption">Objective-C</div>
        </div>
        <div class="skills-panel">
            <div class="spacer"></div>
            <div class="skills-icon">
                <img src="images/skills-ruby.svg">
            </div>
            <div class="skills-caption">Ruby</div>
        </div>
        <div class="skills-panel">
            <div class="spacer"></div>
            <div class="skills-icon">
                <img src="images/skills-python.svg">
            </div>
            <div class="skills-caption">Python</div>
        </div>
    </div>
    <div class="skills-row__right">
        <div class="skills-panel">
            <div class="spacer"></div>
            <div class="skills-icon">
                <img src="images/skills-java.svg">
            </div>
            <div class="skills-caption">Java</div>
        </div>
        <div class="skills-panel">
            <div class="spacer"></div>
            <div class="skills-icon">
                <img src="images/skills-javascript.svg">
            </div>
            <div class="skills-caption">Javascript</div>
        </div>
        <div class="skills-panel">
            <div class="spacer"></div>
            <div class="skills-icon">
                <img src="images/skills-jquery.svg">
            </div>
            <div class="skills-caption">JQuery</div>
        </div>
        <div class="skills-panel">
            <div class="spacer"></div>
            <div class="skills-icon">
                <img src="images/skills-rails.svg">
            </div>
            <div class="skills-caption">Rails</div>
        </div>
    </div>
    <div class="skills-row__left">
        <div class="skills-panel">
            <div class="spacer"></div>
            <div class="skills-icon">
                <img src="images/skills-sass.svg">
            </div>
            <div class="skills-caption">Sass</div>
        </div>
        <div class="skills-panel">
            <div class="spacer"></div>
            <div class="skills-icon">
                <img src="images/skills-postgresql.svg">
            </div>
            <div class="skills-caption">PostgreSQL</div>
        </div>
        <div class="skills-panel">
            <div class="spacer"></div>
            <div class="skills-icon">
                <img src="images/skills-photoshop.svg">
            </div>
            <div class="skills-caption">Photoshop</div>
        </div>
        <div class="skills-panel">
            <div class="spacer"></div>
            <div class="skills-icon">
                <img src="images/skills-firebase.svg">
            </div>
            <div class="skills-caption">Firebase</div>
        </div>
    </div>
    <div class="skills-row__right">
        <div class="skills-panel">
            <div class="spacer"></div>
            <div class="skills-icon">
                <img src="images/skills-bootstrap.svg">
            </div>
            <div class="skills-caption">Bootstrap</div>
        </div>
        <div class="skills-panel">
            <div class="spacer"></div>
            <div class="skills-icon">
                <img src="images/skills-latex.svg">
            </div>
            <div class="skills-caption">LaTeX</div>
        </div>
        <div class="skills-panel">
            <div class="spacer"></div>
            <div class="skills-icon">
                <img src="images/skills-sketch.svg">
            </div>
            <div class="skills-caption">Sketch</div>
        </div>
        <div class="skills-panel">
            <div class="spacer"></div>
            <div class="skills-icon">
                <img src="images/skills-git.svg">
            </div>
            <div class="skills-caption">Git</div>
        </div>
    </div>
</div>
