<div class="skills">
    <div class="skills-row__left">
        {% include skill_card.html name="Swift" icon_path="images/skills-swift.svg" %}
        {% include skill_card.html name="Objective-C" icon_path="images/skills-objc.svg" %}
        {% include skill_card.html name="Python" icon_path="images/skills-python.svg" %}
        {% include skill_card.html name="Java" icon_path="images/skills-java.svg" %}
    </div>
    <div class="skills-row__right">
        {% include skill_card.html name="Racket" icon_path="images/skills-racket.svg" %}
        {% include skill_card.html name="Ruby" icon_path="images/skills-ruby.svg" %}
        {% include skill_card.html name="Rails" icon_path="images/skills-rails.svg" %}
        {% include skill_card.html name="PostgreSQL" icon_path="images/skills-postgresql.svg" %}
    </div>
    <div class="skills-row__left">
        {% include skill_card.html name="Javascript" icon_path="images/skills-javascript.svg" %}
        {% include skill_card.html name="jQuery" icon_path="images/skills-jquery.svg" %}
        {% include skill_card.html name="Firebase" icon_path="images/skills-firebase.svg" %}
        {% include skill_card.html name="Git" icon_path="images/skills-git.svg" %}
    </div>
    <div class="skills-row__right">
        {% include skill_card.html name="Bootstrap" icon_path="images/skills-bootstrap.svg" %}
        {% include skill_card.html name="Sass" icon_path="images/skills-sass.svg" %}
        {% include skill_card.html name="Sketch" icon_path="images/skills-sketch.svg" %}
        {% include skill_card.html name="LaTeX" icon_path="images/skills-latex.svg" %}
    </div>
    <div class="skills-row__left">
        {% include skill_card.html name="InDesign" icon_path="images/skills-indesign.svg" %}
        {% include skill_card.html name="Photoshop" icon_path="images/skills-photoshop.svg" %}
    </div>
</div>
