/* Charter */

@font-face {
    font-family: 'Charter';
    src: url('../fonts/charter/charter_bold_italic-webfont.eot');
    src: url('../fonts/charter/charter_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/charter/charter_bold_italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Charter';
    src: url('../fonts/charter/charter_bold-webfont.eot');
    src: url('../fonts/charter/charter_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/charter/charter_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Charter';
    src: url('../fonts/charter/charter_italic-webfont.eot');
    src: url('../fonts/charter/charter_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/charter/charter_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Charter';
    src: url('../fonts/charter/charter_regular-webfont.eot');
    src: url('../fonts/charter/charter_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/charter/charter_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* DM Sans */

@font-face { font-family: "DM Sans"; font-weight: 400; font-style: normal; src: url(../fonts/dm_sans/DMSans-Regular.ttf); }
@font-face { font-family: "DM Sans"; font-weight: 400; font-style: italic; src: url(../fonts/dm_sans/DMSans-Italic.ttf); }
@font-face { font-family: "DM Sans"; font-weight: 500; font-style: normal; src: url(../fonts/dm_sans/DMSans-Medium.ttf); }
@font-face { font-family: "DM Sans"; font-weight: 500; font-style: italic; src: url(../fonts/dm_sans/DMSans-MediumItalic.ttf); }
@font-face { font-family: "DM Sans"; font-weight: 700; font-style: normal; src: url(../fonts/dm_sans/DMSans-Bold.ttf); }
@font-face { font-family: "DM Sans"; font-weight: 700; font-style: italic; src: url(../fonts/dm_sans/DMSans-BoldItalic.ttf); }

/* SF Mono */

@font-face { font-family: "SF Mono"; font-weight: 200; font-style: normal; src: url(../fonts/sf_mono/SFMono-Light.otf); }
@font-face { font-family: "SF Mono"; font-weight: 200; font-style: italic; src: url(../fonts/sf_mono/SFMono-LightItalic.otf); }
@font-face { font-family: "SF Mono"; font-weight: 400; font-style: normal; src: url(../fonts/sf_mono/SFMono-Regular.otf); }
@font-face { font-family: "SF Mono"; font-weight: 400; font-style: italic; src: url(../fonts/sf_mono/SFMono-RegularItalic.otf); }
@font-face { font-family: "SF Mono"; font-weight: 500; font-style: normal; src: url(../fonts/sf_mono/SFMono-Medium.otf); }
@font-face { font-family: "SF Mono"; font-weight: 500; font-style: italic; src: url(../fonts/sf_mono/SFMono-MediumItalic.otf); }
@font-face { font-family: "SF Mono"; font-weight: 600; font-style: normal; src: url(../fonts/sf_mono/SFMono-Semibold.otf); }
@font-face { font-family: "SF Mono"; font-weight: 600; font-style: italic; src: url(../fonts/sf_mono/SFMono-SemiboldItalic.otf); }
@font-face { font-family: "SF Mono"; font-weight: 700; font-style: normal; src: url(../fonts/sf_mono/SFMono-Bold.otf); }
@font-face { font-family: "SF Mono"; font-weight: 700; font-style: italic; src: url(../fonts/sf_mono/SFMono-BoldItalic.otf); }
@font-face { font-family: "SF Mono"; font-weight: 800; font-style: normal; src: url(../fonts/sf_mono/SFMono-Heavy.otf); }
@font-face { font-family: "SF Mono"; font-weight: 800; font-style: italic; src: url(../fonts/sf_mono/SFMono-HeavyItalic.otf); }

/* Macklin Text */

@font-face { font-family: "Macklin Text"; font-weight: 200; font-style: normal; src: url(../fonts/macklin_text/MacklinText-Light.otf); }
@font-face { font-family: "Macklin Text"; font-weight: 200; font-style: italic; src: url(../fonts/macklin_text/MacklinText-LightItalic.otf); }
@font-face { font-family: "Macklin Text"; font-weight: 400; font-style: normal; src: url(../fonts/macklin_text/MacklinText-Regular.otf); }
@font-face { font-family: "Macklin Text"; font-weight: 500; font-style: normal; src: url(../fonts/macklin_text/MacklinText-Medium.otf); }
@font-face { font-family: "Macklin Text"; font-weight: 500; font-style: italic; src: url(../fonts/macklin_text/MacklinText-MediumItalic.otf); }
@font-face { font-family: "Macklin Text"; font-weight: 700; font-style: normal; src: url(../fonts/macklin_text/MacklinText-Bold.otf); }
@font-face { font-family: "Macklin Text"; font-weight: 700; font-style: italic; src: url(../fonts/macklin_text/MacklinText-BoldItalic.otf); }

@font-face {
font-family: concourse_index;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Concourse Index/concourse_index_regular.woff2') format('woff2');
}

@font-face {
font-family: concourse_4;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Concourse 4/concourse_4_regular.woff2') format('woff2');
}

@font-face {
font-family: concourse_4;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Concourse 4/concourse_4_italic.woff2') format('woff2');
}

@font-face {
font-family: concourse_4;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Concourse 4/concourse_4_bold.woff2') format('woff2');
}

@font-face {
font-family: concourse_4;
font-style: italic;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Concourse 4/concourse_4_bold_italic.woff2') format('woff2');
}

@font-face {
font-family: concourse_6;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Concourse 6/concourse_6_regular.woff2') format('woff2');
}

@font-face {
font-family: concourse_6;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Concourse 6/concourse_6_italic.woff2') format('woff2');
}

@font-face {
font-family: concourse_4_caps;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Concourse 4 Caps/concourse_4_caps_regular.woff2') format('woff2');
}

@font-face {
font-family: concourse_4_caps;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Concourse 4 Caps/concourse_4_caps_bold.woff2') format('woff2');
}

@font-face {
font-family: concourse_6_caps;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Concourse 6 Caps/concourse_6_caps_regular.woff2') format('woff2');
}


@font-face {
font-family: equity_a;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Equity A/equity_a_regular.woff2') format('woff2');
}

@font-face {
font-family: equity_a;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Equity A/equity_a_italic.woff2') format('woff2');
}

@font-face {
font-family: equity_a;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Equity A/equity_a_bold.woff2') format('woff2');
}

@font-face {
font-family: equity_a;
font-style: italic;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Equity A/equity_a_bold_italic.woff2') format('woff2');
}

@font-face {
font-family: equity_b;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Equity B/equity_b_regular.woff2') format('woff2');
}

@font-face {
font-family: equity_b;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Equity B/equity_b_italic.woff2') format('woff2');
}

@font-face {
font-family: equity_b;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Equity B/equity_b_bold.woff2') format('woff2');
}

@font-face {
font-family: equity_b;
font-style: italic;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Equity B/equity_b_bold_italic.woff2') format('woff2');
}

@font-face {
font-family: valkyrie_b;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Valkyrie B/valkyrie_b_regular.woff2') format('woff2');
}

@font-face {
font-family: valkyrie_b;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Valkyrie B/valkyrie_b_italic.woff2') format('woff2');
}

@font-face {
font-family: valkyrie_b;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Valkyrie B/valkyrie_b_bold.woff2') format('woff2');
}

@font-face {
font-family: valkyrie_b;
font-style: italic;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Valkyrie B/valkyrie_b_bold_italic.woff2') format('woff2');
}

@font-face {
font-family: valkyrie_a;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Valkyrie A/valkyrie_a_regular.woff2') format('woff2');
}

@font-face {
font-family: valkyrie_a;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Valkyrie A/valkyrie_a_italic.woff2') format('woff2');
}

@font-face {
font-family: valkyrie_a;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Valkyrie A/valkyrie_a_bold.woff2') format('woff2');
}

@font-face {
font-family: valkyrie_a;
font-style: italic;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Valkyrie A/valkyrie_a_bold_italic.woff2') format('woff2');
}
@font-face {
font-family: heliotrope_4;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Heliotrope 4/heliotrope_4_regular.woff2') format('woff2');
}

@font-face {
font-family: heliotrope_4;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Heliotrope 4/heliotrope_4_italic.woff2') format('woff2');
}

@font-face {
font-family: heliotrope_4;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Heliotrope 4/heliotrope_4_bold.woff2') format('woff2');
}

@font-face {
font-family: heliotrope_4;
font-style: italic;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Heliotrope 4/heliotrope_4_bold_italic.woff2') format('woff2');
}
@font-face {
font-family: heliotrope_3;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Heliotrope 3/heliotrope_3_regular.woff2') format('woff2');
}

@font-face {
font-family: heliotrope_3;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Heliotrope 3/heliotrope_3_italic.woff2') format('woff2');
}

@font-face {
font-family: heliotrope_3;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Heliotrope 3/heliotrope_3_bold.woff2') format('woff2');
}

@font-face {
font-family: heliotrope_3;
font-style: italic;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Heliotrope 3/heliotrope_3_bold_italic.woff2') format('woff2');
}
@font-face {
font-family: heliotrope_6;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Heliotrope 6/heliotrope_6_regular.woff2') format('woff2');
}

@font-face {
font-family: heliotrope_6;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Heliotrope 6/heliotrope_6_italic.woff2') format('woff2');
}

@font-face {
font-family: heliotrope_6;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Heliotrope 6/heliotrope_6_bold.woff2') format('woff2');
}

@font-face {
font-family: heliotrope_6;
font-style: italic;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Heliotrope 6/heliotrope_6_bold_italic.woff2') format('woff2');
}


@font-face {
font-family: heliotrope_3_caps;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Heliotrope 3 Caps/heliotrope_3_caps_regular.woff2') format('woff2');
}

@font-face {
font-family: heliotrope_3_caps;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/mb/Heliotrope 3 Caps/heliotrope_3_caps_bold.woff2') format('woff2');
}
