body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  color: $base-font-color;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
}

html,
body {
  height: 100%;
}

.container {
  margin: auto;
  max-width: 1200px;
}

.content {
  padding: 24px 20px 33px 20px;
}

.gray {
  background-color: $gray-bg-color;
  color: $gray-font-color;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.wrapper {
  max-width: 1080px;
  margin: auto;
}

.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

.small {
  font-size: $small-font-size;
}


a.section-link {
  color: $link-color;
  text-decoration: none;
  border-bottom: 5px solid $link-color;
}

a.block-link {
  display: block;
  text-decoration: none;
}


.header {
  position: relative;
  text-align: center;
  background: #18212D;
  padding-top: 35px;
  padding-bottom: 20px;
  z-index: 3;

  .curve {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: translate(0, 96%);
    z-index: 2;
  }

  .logo {
    width: 250px;
  }

  .header-content {
    display: block;
    color: white;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    display: inline-block;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0 52px;
    text-decoration: none;
  }

  h1 {
    display: block;
    margin: 0;
    font-size: 90px;
    margin-bottom: 20px;

    img {
      display: inline;
      margin-bottom: -33px;
      height: 100px;
      margin-right: 5px;
    }
  }

  h2 {
    display: block;
    margin: 0;
    font-size: 52px;
  }

  @media (max-width: 1080px) {
    .logo {
      width: 200px;
    }

    .header-content {
      font-size: 30px;
    }
  }

  @media (max-width: 810px) {
    ul {
      display: none;
    }
  }
}

.intro {
  text-align: center;
  padding-top: 70px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
}

.spacer {
  height: 15px;
}

.spacer__double {
  height: 30px;
}

.section-header {
  margin-bottom: 25px;
}


.projects {
  max-width: 1080px;
  margin: auto;
}

.project-card {
  height: 350px;
  width: 340px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  transition: all 0.2s;

  .card-header {
    height: 210px;
    overflow: hidden;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: white;
    background-size: cover;
    background-position: center center;

    .card-overlay,
    .card-overlay-extension,
    .card-overlay-triangle {
        position: absolute;
    }

    .card-overlay,
    .card-overlay-extension {
        background-color: black;
        color: white;
        padding: 2px 5px;
        text-align: right;
    }

    .card-overlay {
      top: 10px;
      right: 10px;
      font-size: 24px;
      max-width: 308px;
    }

    .card-overlay-extension {
      right: 0;
      bottom: -29px;
      font-size: 20px;
    }

    .card-overlay-triangle {
      bottom: 0px;
      left: -29px;
      width: 0;
      height: 0;
      border-left: 29px solid transparent;
      border-top: 29px solid black;
    }
  }

  .card-text {
    height: 120px;
    padding: 8px 15px 12px;
    color: white;

    .card-title {
      font-size: 40px;
    }

    .card-detail {
      margin-top: 2px;
      font-size: 18px;
    }
  }

  .card-arrow {
    position: absolute;
    right: 11px;
    bottom: 11px;
    transform: rotate(0deg);
    transition: all 0.2s;
  }
}

.gray .project-card .card-header {
  background-color: $gray-bg-color;
}

@media (max-width: 1120px) {
  .project-card {
    width: 48%;
  }
}

@media (max-width: 765px) {
  .project-card {
    height: 280px;
    width: 100%;

    .card-header {
      height: 140px;
    }
  }
}

@media (min-width: 766px) {
  .project-card:hover {
    box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.6);
    transform: translateY(-7px);
    margin-bottom: 13px;
  }

  .project-card:hover > .card-arrow {
    right: 3px;
    bottom: 18px;
    transform: rotate(-90deg);
  }
}


.articles {
  max-width: 1108px;
  margin: auto;
}

@media (max-width: 1150px) {
  .articles {
    max-width: 723px;
  }

  .block-link:last-child > .article-card__first {
    display: none;
  }
}

@media (max-width: 765px) {
  .articles {
    max-width: 337px;
  }

  .block-link:nth-last-child(2) > .article-card__first {
    display: none;
  }
}

.article-card__first {
  transform: rotate(0deg);
}

.article-card__second {
  transform: rotate(3deg) translateX(-3px);
}

.article-card__third {
  transform: rotate(-6deg);
}

.article-card__first:hover {
  box-shadow: none;
}

.article-card__first:hover > .article-card__second {
  transform: rotate(0deg);
  margin-left: 10px;
  margin-top: 10px;
}

.article-card__first:hover > .article-card__second > .article-card__third {
  transform: rotate(0deg);
  margin-left: -16px;
  margin-top: -16px;
}

.article-card__first,
.article-card__second,
.article-card__third {
  height: 340px;
  width: 330px;
  border: 3px solid $article-card-color;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  padding: 0;
  color: $base-font-color;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
}

.article-card__first,
.article-card__third {
  background-color: white;
}

.article-card__second {
  background-color: $article-card-interior-color;
}

.article-card__third {
  .card-title,
  .card-content {
    padding: 10px 12px 0;
  }

  .card-title {
    font-size: 38px;
    padding-bottom: 6px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }

  .card-content {
    font-size: 17px;

    .card-image {
      margin-top: 3px;
      height: 130px;
      width: 180px;
      float: right;
      background-size: cover;
      background-position: center center;
      border: 3px solid $article-card-image-color;
    }
  }
}

.section-tab-background {
  background-color: $gray-bg-color;
}

.section-tab {
  display: inline-block;
  padding: 18px;
  background-color: white;
  color: $base-font-color;
  position: relative;

  .tab-triangle__left,
  .tab-triangle__right {
    position: absolute;
    height: 0;
    width: 0;
    top: 0px;
    border-bottom: 87px solid white;
  }

  .tab-triangle__left {
    left: -87px;
    border-left: 87px solid transparent;
  }

  .tab-triangle__right {
    right: -87px;
    border-right: 87px solid transparent;
  }
}

.section-tab__gray {
  background-color: $gray-bg-color;
  color: white;

  .tab-triangle__left,
  .tab-triangle__right {
    border-bottom: 87px solid $gray-bg-color;
  }
}


#skills .content {
  padding-bottom: 13px;
}

.skills-panel {
  display: inline-block;
  height: 160px;
  width: 207px;
  background-color: rgba(28, 28, 28, 0.91);
  border-radius: 10px;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
  transition: all 0.15s;
  color: rgba(255, 255, 255, 0.15);
  margin-bottom: 17px;
  cursor: pointer;

  .spacer {
    height: 18px;
  }

  .skills-icon {
    height: 88px;
    width: inherit;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: auto;

    img {
      max-height: 100%;
      max-width: 70%;
      margin: auto;
    }
  }

  .skills-caption {
    margin-top: 12px;
    font-size: 23px;
    text-align: center;
  }
}

.skills {
  max-width: 1000px;
  margin: auto;
}

.skills-row__left,
.skills-row__right {
  max-width: 100%;
}

.skills-row__right {
  text-align: right;
}

.skills-row__left .skills-panel {
  margin-right: 7px;
}

.skills-row__right .skills-panel {
  margin-left: 7px;
}

@media (max-width: 1050px) {
  .skills-row__left,
  .skills-row__right {
    text-align: center;

    .skills-panel,
    .skills-panel {
      margin-left: 3.5px;
      margin-right: 3.5px;
      width: 45%;
    }
  }
}

@media (max-width: 550px) {
  .skills-row__left .skills-panel,
  .skills-row__right .skills-panel {
    height: 50px;
    width: 45%;
  }

  .skills-panel {
    .skills-icon {
      display: none;
    }

    .skills-caption {
      margin-top: 0;
      font-size: 23px;
      text-align: center;
    }

    .spacer {
      height: 11px;
    }
  }
}

@media (max-width: 360px) {
  .skills-row__left .skills-panel,
  .skills-row__right .skills-panel {
    width: 100%;
  }
}

.skills-panel:hover {
  transform: scale(0.96, 0.96);
  color: white;
}

#footer {
  position: relative;
  font-size: 26px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
  background-color: #F5A623;
  z-index: 2;

  .footer-left { float: left; }

  .footer-right {
    float: right;

    a {
      display: inline-block;
      margin-left: 9px;
      border-bottom: 2px white dotted;
    }
  }

  @media (max-width: 700px) {
    .footer-left,
    .footer-right {
      float: none;
      text-align: center;
    }

    .footer-left { padding-bottom: 4px; }
  }

  .footer-clear { clear: both; }

  .footer-name {
    display: inline;
    padding-right: 10px;
  }

  .footer-social-icons { display: inline; }

  a {
    color: white;
    text-decoration: none;
  }

  .fa { padding: 0 2px; }
}

.post-intro {
  min-height: 250px;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);

  .overlay {
    text-align: center;
    position: absolute; width: 100%;
    min-height: 250px;
    color: white;
    display: table;
  }

  .intro-wrapper {
    display: table-cell;
    vertical-align: middle;
    padding-top: 30px;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
  }

  .title {
    margin: 0 auto;
    padding-bottom: 7px;
    max-width: 750px;
  }

  .tagline {
    margin: 0 auto;
    max-width: 750px;
    font-size: 30px;
  }

  @media (max-width: 1080px) {
    .title {
      padding: 0 30px 6px;
      font-size: 36px;
    }

    .tagline {
      padding: 0 30px;
      font-size: 26px;
    }
  }

  @media (max-width: 810px) {
    .intro-wrapper {
      padding-top: 10px;
    }

    .title {
      padding: 0 30px 5px;
      font-size: 36px;
    }

    .tagline {
      padding: 0 30px;
      font-size: 26px;
    }
  }
}

.post-wrapper {
  max-width: 870px;
  margin: auto;
  font-weight: 400;
  font-size: 22px;
  padding: 30px 40px;

  a {
    text-decoration: none;
    font-weight: 500;
    color: #006DFF;
  }

  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }

  @media (max-width: 810px) {
    padding: 20px 40px;
  }
}

.six-screenshot-grid {
  text-align: center;

  img {
    width: 32.5%;
    display: inline;
  }

  @media (min-width: 980px) {
    width: 970px;
    margin-left: -50px;
    padding-top: 20px;
  }

  @media (max-width: 979px) {
    max-width: 970px;
    margin-left: 0;
    padding-top: 20px;
  }

  @media (max-width: 600px) {
    img {
      width: 49%;
    }
  }

  @media (max-width: 390px) {
    img {
      width: 100%;
    }
  }
}

.post-footer {
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);

  nav {
    display: table;
    width: 100%;
    height: 180px;
  }

  .post-block {
    position: relative;
    display: table-cell;
    width: 50%;
    height: 180px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);

    .overlay,
    .overlay-text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .overlay {
      opacity: 0.8;
    }

    @media (max-width: 700px) {
      width: 100%;
      display: block;
    }
  }

  .overlay-text-table {
    display: table;
    height: 100%;
    width: 100%;

    .overlay-text-content {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .preview-direction,
  .preview-title,
  .preview-tagline {
    padding: 0 30px;
  }

  .preview-direction {
    font-size: 20px;
    text-transform: uppercase;
  }

  .preview-tagline {
    margin-top: 4px;
    font-size: 18px;
  }
}
