body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: DINRegular, 'Helvetica Neue';
    font-weight: 700;
    color: #988F8F;
    font-size: 42px;
}

.container {
    margin: auto;
    max-width: 1200px;
}

.content {
    padding: 20px;
}

.gray {
    background-color: #292929;
    color: white;
}

.center-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.right-align {
    text-align: right;
}

a {
    color: #B93838;
    text-decoration: none;
    border-bottom: 5px solid #B93838;
}


.header {
    position: relative;
    text-align: center;
    height: 600px;
}

.header h1 {
    display: block;
    margin: 0;
    font-size: 90px;
}

.header h1 img {
    display: inline;
    margin-bottom: -33px;
    height: 100px;
    margin-right: 5px;
}

.header h2 {
    display: block;
    margin: 0;
    font-size: 52px;
}

.header .spacer {
    height: 15px;
}


.initial-curve {
    position: relative;
    z-index: 1;
}

.initial-curve svg {
    min-width: 1000px;
    vertical-align: top;
}

.initial-curve-text {
    margin-top: -75px;
    z-index: 10;
    position: relative;
}

.section-header {
    margin-bottom: 17px;
}

.project-card {
    margin: 18px;
    height: 350px;
    width: 339px;
    background-color: red;
    border-radius: 6px;
    overflow: hidden;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
}

.project-card .card-picture {
    height: 210px;
    overflow: hidden;
    background-color: gray;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.project-card .card-text {
    height: 120px;
    padding: 8px 15px 12px;
    color: white; align-self: 
}

.project-card .card-text .card-header {
    font-size: 40px;
}

.project-card .card-text .card-detail {
    font-size: 19px;
}
