body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: DINRegular, 'Helvetica Neue';
    font-weight: 700;
    color: #988F8F;
    font-size: 42px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
}

.container {
    margin: auto;
    max-width: 1200px;
}

.content {
    padding: 24px 20px 33px 20px;
}

.gray {
    background-color: #292929;
    color: white;
}

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper {
    max-width: 1080px;
    margin: auto;
}

.center-align {
    text-align: center;
}

.right-align {
    text-align: right;
}

.small {
    font-size: 25px;
}


a.section-link {
    color: #B93838;
    text-decoration: none;
    border-bottom: 5px solid #B93838;
}

a.block-link {
    display: block;
    text-decoration: none;
}


.header {
    position: relative;
    text-align: center;
    height: 600px;
}

.header h1 {
    display: block;
    margin: 0;
    font-size: 90px;
}

.header h1 img {
    display: inline;
    margin-bottom: -33px;
    height: 100px;
    margin-right: 5px;
}

.header h2 {
    display: block;
    margin: 0;
    font-size: 52px;
}

.spacer {
    height: 15px;
}

.spacer__double {
    height: 30px;
}


.initial-curve {
    position: relative;
    z-index: 1;
} 

.initial-curve svg {
    min-width: 1000px;
    vertical-align: top;
}

.initial-curve-text {
    margin-top: -75px;
    z-index: 10;
    position: relative;
}

.section-header {
    margin-bottom: 25px;
}


/* Projects Section */

.projects {
    max-width: 1080px;
    margin: auto;
}

.project-card {
    height: 350px;
    width: 340px;
    border-radius: 6px;
    overflow: hidden;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    transition: all 0.2s;
}

.project-card .card-header {
    height: 210px;
    overflow: hidden;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-size: cover;
    background-position: center center;
}

.project-card .card-header img {
    height: 100%;
}

.project-card .card-header .card-overlay,
.project-card .card-header .card-overlay-extension,
.project-card .card-header .card-overlay-triangle {
    position: absolute;
}

.project-card .card-header .card-overlay,
.project-card .card-header .card-overlay-extension {    
    background-color: rgba(0, 0, 0, 0.90);
    color: white;
    padding: 2px 5px;
    text-align: right;
}

.project-card .card-header .card-overlay {
    top: 10px;
    right: 10px;
    font-size: 24px;
    max-width: 308px;
}

.project-card .card-header .card-overlay-extension {
    right: 0;
    bottom: -29px;
    font-size: 20px;
}

.project-card .card-header .card-overlay-triangle {
    bottom: 0px;
    left: -29px;
    width: 0;
    height: 0; 
    border-left: 29px solid transparent;
    border-top: 29px solid rgba(0, 0, 0, 0.90);
}

.project-card .card-text {
    height: 120px;
    padding: 8px 15px 12px;
    color: white;
}

.project-card .card-text .card-title {
    font-size: 40px;
}

.project-card .card-text .card-detail {
    margin-top: 2px;
    font-size: 18px;
}

.project-card .card-arrow {
    position: absolute;
    right: 11px;
    bottom: 11px;
    transform: rotate(0deg);
    transition: all 0.2s;
}

@media (max-width: 1120px) {
    .project-card {
        width: 48%;
    }
}

@media (max-width: 765px) {
    .project-card {
        height: 280px;
        width: 100%;
    }
    
    .project-card .card-header {
        height: 140px;
    }
}

@media (min-width: 766px) {
    .project-card:hover {
        -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.6);
        -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.6);
        box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.6);
        transform: scale(1.02, 1.02);
    }
    
    .project-card:hover > .card-arrow {
        right: 3px;
        bottom: 18px;
        transform: rotate(-90deg);
    }
}


.articles {
    max-width: 1108px;
    margin: auto;
}

.article-card__first {
    transform: rotate(0deg);
}

.article-card__first:hover {
    box-shadow: none;
}

.article-card__second {
    transform: rotate(3deg);
}

.article-card__second:hover {
    transform: rotate(0deg);
    margin-left: 10px;
    margin-top: 10px;
}

.article-card__third {
    transform: rotate(-6deg);
}

.article-card__third:hover {
    transform: rotate(0deg);
    margin-left: -16px;
    margin-top: -16px;
}

.article-card__first,
.article-card__second,
.article-card__third {
    height: 340px;
    width: 330px;
    border: 3px solid #979797;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    padding: 0;
    background-color: white;
    transition: all 0.3s;
    -webkit-backface-visibility: hidden;
}

.article-card__third .card-title,
.article-card__third .card-content {
    padding: 10px 12px 0;
}

.article-card__third .card-title {
    font-size: 38px;
    padding-bottom: 6px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

.article-card__third .card-content {
    font-size: 17px;
}

.article-card__third .card-content .card-image {
    margin-top: 3px;
    height: 130px;
    width: 180px;
    float: right;
    background-size: cover;
    background-position: center center;
    border: 3px solid #bcbcbc;
}

.section-tab {
    position: absolute;
    background: #292929;
    width: 100%;
}

.section-tab .tab-content {
    background: white;
    color: black;
    padding: 20px 20px;
    display: inline-block;
    float: right;
}

.section-tab .tab-triangle {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0; 
    border-left: 91px solid transparent;
    border-bottom: 91px solid white;
}

.gray .section-tab {
    background: white;
}

.gray .section-tab .tab-content {
    background: #292929;
    color: white;
}

.gray .section-tab .tab-triangle {
    border-bottom: 91px solid #292929;
}

.section-tab+.content {
    padding-top: 112px;
    padding-bottom: 22px;
}
