<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    <body>
        <nav class="page-navbar">
        </nav>
        <main>
            <header class="post-header">
                <div class="category">
                    {{ post.category }}
                </div>
                <div class="title">
                    {{ post.title }}
                </div>
                <div class="tagline">
                    {{ post.tagline }}
                </div>
            </header>
            <div class="post-content">
                <div class="wrapper">
                    {{ content }}
                </div>
            </div>
            <footer class="post-footer">
                {% if post.ending %}
                    <div class="post-ending">
                        {{ post.ending }}
                    </div>
                {% endif %}
                <nav>
                    <div class="previous-post" style="background-image: url('{{ previous_post.image_path }}');">
                    </div>
                    <div class="next-post" style="background-image: url('{{ next_post.image_path }}');">
                    </div>
                </nav>
            </footer>
        </main>
        {% include footer.html %}
    </body>
</html>
