<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        {% seo title=false %}
        <style>
            .post-content a {
                {% if page.link_color %}
                    color: {{ page.link_color }};
                {% else %}
                    color: {{ page.card_color }};
                {% endif %}
            }
        </style>
    </head>
    <body>
        {% include preloader.html %}
        {% include scripts.html %}
        <main>
            <header id="header" class="article-header">
                <div class="wrapper">
                    <div class="left">
                        <a href="/" class="logo-container">
                            <img src="/images/logo.svg" class="logo" alt="The logo of the site.">
                        </a>
                        <div class="intro">
                            <div class="page-type">
                                {% if page.is_post %}
                                    Post:
                                {% elsif page.is_project %} 
                                    Project:
                                {% else %}
                                    Writeup:
                                {% endif %}
                            </div>
                            <h1 class="page-title">
                                {{ page.title }}
                            </h1>
                            <div class="page-tagline">
                                {% if page.is_post %}
                                    {{ page.date | date: "%B %d, %Y" }}
                                {% else %}
                                    {{ page.tagline }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <nav role="navigation">
                            <ul class="header-nav-list">
                                <li><a href="mailto:me@zacharyespiritu.com">me@zacharyespiritu.com</a></li>
                                <li><a href="/resume">resume.pdf</a></li>
                                <li><a href="/about">about.html</a></li>
                                <li><a href="https://github.com/ZacharyEspiritu/zacharyespiritu.github.io">source.git</a></li>
                                <li><a href="/friends">friends.yaml</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            <div class="color-detail" style="background: {{ page.card_color }};"></div>
            <div class="wrapper">
                <article class="post-content">
                    {{ content }}
                </article>
            </div>
            <div class="color-detail" style="background: {{ page.card_color }};"></div>
            <!-- <footer class="post-footer">
                {% include post_ending.html %}
                {% include post_preview.html %}
            </footer> -->
        </main>
        {% include footer.html %}
        {% include preloader_resolver.html %}
    </body>
</html>
