<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        {% seo title=false %}
        <style>
            .post-wrapper a {
                {% if page.link_color %}
                    color: {{ page.link_color }};
                {% else %}
                    color: {{ page.card_color }};
                {% endif %}
            }
        </style>
    </head>
    <body>
        {% include preloader.html %}
        {% include scripts.html %}
        {% include header.html %}
        <main>
            {% assign banner_image = page.image_path %}
            {% if page.banner_path %}
                {% assign banner_image = page.banner_path %}
            {% endif %}
            <hgroup class="post-intro" style="background-image: url('{{ banner_image }}');">
                <div class="overlay" style="background: {{ page.card_color }}; opacity: 0.8;">
                </div>
                <div class="overlay">
                    <div class="intro-wrapper">
                        <header class="title">
                            {{ page.title }}
                        </header>
                        <header class="tagline">
                            {% if page.is_post %}
                                {{ page.date | date: "%B %d, %Y" }}
                            {% else %}
                                {{ page.tagline }}
                            {% endif %}
                        </header>
                    </div>
                </div>
            </hgroup>
            <article class="post-wrapper">
                {{ content }}
            </article>
            <footer class="post-footer">
                {% include post_ending.html %}
                {% include post_preview.html %}
            </footer>
        </main>
        {% include footer.html %}
        {% include preloader_resolver.html %}
    </body>
</html>
